@{
 ViewData["title"] = "Startsida"; 
}
<h2>Utflyktsm책l</h2>
<p>P책 denna sida kan du se och l채gga till dina favorit utflyktsm책l.</p>

<div>
<div class="partial-btn">
    @await Html.PartialAsync("_Buttons")
</div>

<div class="partial-img">
@await Html.PartialAsync("_Image")
</div>


</div>