body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  main{
    padding: 40px;
    min-height: 80vh;
  }

  /* Header */
  
  .container {
    padding: 1rem;
  }
  
  header {
    background-color: #525050;
    color: #fff;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  nav ul li a:hover {
    background-color: #767171;
  }

  /* Form */
  form{
    width: 450px;
    height: auto;
    padding: 30px;
    border: solid black 1px;
    border-radius: 10px;
  }
  form input, .input{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: solid grey 1px;
  }
  .inputs{
    margin-top: 10px;
  }
 .btn{
  width: auto;
  padding: 9px;
  margin-top: 20px;
  background-color: rgb(136, 192, 136);
  cursor: pointer;
 }
 .btn:hover{
  background-color: rgb(106, 159, 106);
 }
 .error{
  color: red;
 }

 .radio-label {
  display: inline-block;
  width: 50px;
  text-align: left; 
  margin-right: 10px; 
}

 /* Table */
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #767171; 
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd; 
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #e3e0e0;
}


/* Buttons, start */
.start-btn{
  padding: 20px; 
  width: 200px;
  margin-right: 10px;
  background-color: #d7d4d4;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.start-btn:hover{
  background-color: rgb(243, 241, 241);
}
.partial-btn{
  margin-top: 60px;
}

/* Image */
.image img{
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.partial-img{
  margin-top: 60px;;
}


  /* Footer */
  .footer p{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 1.3rem;
  }

  .footer{
    background-color: #9f9c9c;
    height: 60px;
    width: 100%;
  }
  

  @media only screen and (min-width: 768px) {
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    nav ul {
      display: flex;
    }
  
    nav ul li {
      margin-bottom: 0;
      margin-left: 20px;
    }
    .image img{
      width: 600px;
    }
  }
  